<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Mean Performance</title>
  </head>
  <body>
    <h1>Mean Performance</h1>  
    <input id="name" type="text" />
    <button onclick="hello()">Say Hello</button>
    <p id="message"></p>

    <!-- type = js -->
    <!-- alternate search path = ./public -->
    <!-- output to = javascripts/optimized.js -->
    <!-- build:js(./public) javascripts/optimized.js -->
    <script src="javascripts/hello.js"></script>
    <script src="javascripts/hello2.js"></script>
    <!-- endbuild -->

  </body>
</html>
